
<div id="map"
  style="width: 100%; height: 399px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= simple_form_for :filters, url: spots_path, method: :get do |f| %>

<div class="filter-container">


  <div class="filter-options">
    <%= f.input :stairset, as: :boolean, input_html: { checked: params.dig(:filters, :stairset) == "1" } %>  
    <%= f.input :ledge, as: :boolean, input_html: { checked: params.dig(:filters, :ledge) == "1" } %>
    <%= f.input :cover, as: :boolean, input_html: { checked: params.dig(:filters, :cover) == "1" } %>
    <%= f.input :flatground, as: :boolean, input_html: { checked: params.dig(:filters, :flatground) == "1" } %>
  </div>


  <%= f.submit "Filter", class: "btn btn-primary" %>
  </div>

<% end %>

