<style>
.spot_cover, .spot_stairset, .spot_cover, .spot_ledge, .spot_flatground{
  display: inline-block;
  font-size: 16px;
  margin-left: 5px;
  margin-top: 15px;
}

.modal-body {
  padding: 0;
}

.suggestions-wrapper {
   display: block;
}

.mapboxgl-ctrl-geocoder {
   width: 60%;
}

#confirm-button {
  position: absolute;
  left: -9px;
  bottom: -9px;
  z-index: 2;
  background-color: #01181C;
}

.upload-photo {
  border: 1px solid #d3d3d3;
  padding: 16px 24px;
  cursor: pointer;
  font-weight: 500;
  background: white;
  border-radius: 2px;
}

.flex-left {
  display: flex;
  align-items: center;
}

</style>


<div class='container spot-background'>
  <div class="new-spot-padding">
    <div class="login-card-margin">
      <div class="login-card">
        <div class="form-margin">
          <h1 class="new-spot-title">Create a spot</h1>
          <%= simple_form_for @spot, html: { class: "col-sm-6 offset-sm-3" } do |f| %>
          <%= f.input :name, label: false, placeholder: "Spot name" %>
          <button type="button" class="btn-map" id="chooseLoc" data-toggle="modal" data-target=".bs-example-modal-new">🗺 Choose on map</button>
          <%= f.input :location, label: false, placeholder: "Location" %>
          <%= f.input :description, label: false, placeholder: "Description" %>
          <div class="font-main">
            <%= f.input :security, collection: %w[Low Medium High] %>
          </div>


          <div class="font-main">Features</div>

          <div class="new-options font-main">
            <%= f.input :stairset, as: :boolean, label: 'Stairset <p><i class="bi bi-bar-chart-steps"></i></p>'.html_safe, input_html: { style: "display: none", class: 'new-input' }, label_html: { class: "new-options" } %> 

            <%= f.input :ledge, as: :boolean, label: 'Ledge <p><i class="fas fa-tenge"></i></p>'.html_safe, input_html: { style: "display: none", class: 'new-input' }, label_html: { class: "new-options" } %>

            <%= f.input :cover, as: :boolean, label: 'Cover <p><i class="fas fa-umbrella"></i></p>'.html_safe, input_html: { style: "display: none", class: 'new-input' }, label_html: { class: "new-options" } %>

            <%= f.input :flatground, as: :boolean, label: 'Flat <p><i class="fas fa-grip-lines"></i></p>'.html_safe, input_html: { style: "display: none", class: 'new-input' }, label_html: { class: "new-options" } %>
          </div>


          <div class="font-main flex-left">
            <%= f.input :photos, input_html: { class: 'd-none', multiple: true, id: "photo-input" }, as: :file, label_html: { class: 'btn-map-photo'}, label: '📷 Upload photos' %>
            <div class="photo-card">
              <%= image_tag "", width: 37, height: 37, class: "d-none", id: "photo-preview"%>
            </div>
          </div>
          <div class="center-btn">
            <%= f.button :submit, class: 'btn-cta' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

</div>



<%# MAP MODAL! %>
<div class="modal fade bs-example-modal-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <!-- Modal Content: begins -->
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <!-- Modal Body -->  
         <div class="modal-body">
            <div class="body-message">
              <div class="geocoder" id="geocoder"></div>
              <div id="spot_map"
              style="width: 357.33px; height: 524px;"
              data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
              </div>
            </div>
         </div>
         <!-- Modal Footer -->
         <%# DON'T NEED %>
         <%# <div class="modal-footer">
            <p>Search and refine, then =></p>
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div> %>
         <button type="button" id="confirm-button" class="btn btn-primary" data-dismiss="modal">Confirm</button>
      </div>
      <!-- Modal Content: ends -->
   </div>
</div>
