<%= @spot.name %>

<%= link_to "DROP IN", spot_check_ins_path(@spot), method: :post %>

<%= simple_form_for @tag, url: new_tag_path, html: { class: "col-sm-6 offset-sm-3" } do |f| %>
  <%= f.input :url %>
  <%= f.input :caption %>
  <%= f.button :submit %>
<% end %>

<div class="post"></div>