<div class='spot-main-banner shadow-lg'>
   <h5 class='spot-name'> <%= @spot.name %></h5>
   <a href="https://www.google.com/maps/place/<%=@spot.location %>/" target='_blank'>
    <p class='spot-address'><i class="fas fa-map-marked-alt"></i> <%= @spot.location %></p>
   </a>
   <% if current_skater.favorited?(@spot) %>
    <%= link_to toggle_favorite_spot_path(@spot), remote: true, method: :post do %>
        <i class="fas fa-heart" style="color: red;"></i>
      <% end %>
    <% else %>
      <%= link_to toggle_favorite_spot_path(@spot), remote: true, method: :post do %>
        <i class="fas fa-heart" style="color: white;"></i>
      <% end %>
    <% end %>
   <% if @result.count == 0 %>
     <div class='spot-dropin'><%= link_to "DROP IN", spot_check_ins_path(@spot), method: :post, class: 'btn-dropin btn btn-primary' %></div>
    <% end %>
  <button type="button" class="btn btn-primary tag-btn" data-toggle="modal" data-target=".bs-example-modal-new">TAG</button>
</div>
<div class='spot-info-container'>
   <% if @spot.cover %>
   <p><i class="bi bi-cloud-lightning-rain-fill"></i> cover</p>
   <%end%>
   <% if @spot.flatground %>
   <p><i class="fas fa-grip-lines"></i> flat</p>
   <%end%>
   <% if @spot.stairset %>
   <p><i class="bi bi-bar-chart-steps"></i> stairset</p>
   <%end%>
   <% if @spot.ledge %>
   <p><i class="fas fa-tenge"></i> ledge</p>
   <%end%>
   <p><i class="fas fa-hand-paper"></i> <%= @spot.security.downcase %></p>
</div>
<div class='spot-description-container'>
 <h6 class='spot-description-header'>Description</h6>
<p class='spot-description-body'><%= @spot.description %></p>
</div>
<div class="modal fade bs-example-modal-new" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <!-- Modal Content: begins -->
      <div class="modal-content">
         <!-- Modal Header -->
         <div class="modal-header">
            <h4>Tag the Spot</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
         </div>
         <!-- Modal Body -->  
         <div class="modal-body">
            <div class="body-message">
               <div class='mt-4 mb-2'>
                  <%= simple_form_for @tag, url: new_tag_path, html: { class: "col-sm-6 offset-sm-3" } do |f| %>
                  <%= f.input :url %>
                  <%= f.input :caption %>
                  <%= f.button :submit, class: 'btn btn-primary' %>
                  <% end %>
               </div>
            </div>
         </div>
         <!-- Modal Footer -->
         <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
         </div>
      </div>
      <!-- Modal Content: ends -->
   </div>
</div>


<% @tags.each do |t| %>
<div class='tag-card shadow-lg'>
   <div class='tag-card-head'>
      <p><%= t.caption %></p>
      <p><%= t.skater.username %></p>
   </div>
</div>
<% end %>

<script>
  const heart = document.querySelector(".fa-heart")

  heart.addEventListener("click", changeColour);

  function changeColour() {
    console.log(heart.style.color)
    if (heart.style.color === "white") {
      heart.style.color = "red";
    } else {
      heart.style.color = "white";
    }
  }
</script>