<nav class="navbar navbar-expand-lg navbar-light" data-id="<%= current_skater.id if skater_signed_in? %>">
  <a id='spotter-logo' class="navbar-brand" href="/">🛹 Spotter</a>
  <%# removed this class from here navbar-collapse %>
  <div id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">

        <%# CHECK THE USER/SKATER %>
        <% if current_skater %>


        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://sm.ign.com/t/ign_ap/articlepage/t/tony-hawk-/tony-hawk-5-is-coming-later-this-year_fysz.1280.jpg" />

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p class="dropdown-item disabled user"><%= current_skater.username %></p>
            <%= link_to "Profile", skater_path(current_skater), class: "dropdown-item" %>
            <%= link_to "Sign Out", destroy_skater_session_path, method: :delete, class: "dropdown-item" %>
          </div>
          <div class='online-badge'></div>
        <% else %>

        <a class="nav-link text-white" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Login
        </a>
        <div class="dropdown-menu dropdown-menu-right">

          <%# THIS GOES TO THE APPLICATION HELPER.RB %>
          <%# REMOVE LOG IN HEADER %>
          <%# <h2>Log in</h2> %>
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="form-inputs m-3">
              <%= f.input :email,
                required: false,
                autofocus: true,
                label: false,
                input_html: { autocomplete: "email" } %>
              <%= f.input :password,
                required: false,
                label: false,
                input_html: { autocomplete: "current-password" } %>
              <div class="login-buttons">
                <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
                <div class="form-actions">
                  <%= f.button :submit, "Log in", class: "btn-cta" %>
                </div>
              </div>
              
            </div>
            
          <% end %>


        <%# END OF THE IF STATEMENT %>
        <% end %>

        </div>
      </li>
    </ul>
  </div>
</nav>
<a href='/skaters/<%= current_skater.id if current_skater %>'><div class="follower_notif shadow d-none"></div></a>
