<div class='container mt-3 profile-header'>
  <img class='avatar-profile' src="https://sm.ign.com/t/ign_ap/articlepage/t/tony-hawk-/tony-hawk-5-is-coming-later-this-year_fysz.1280.jpg" alt="">
  <div>
    <div class='skater-main-info'>
      <p class='skater-username'>@<%= @skater.username  %></p>
      <% if @current_skater != @skater %>
      <% if current_skater.favorited?(@skater) %>
      <%= link_to toggle_favorite_skater_path(@skater), class: 'follow-btn', remote: true, method: :post do %>Unfollow<% end %>
      <% else %>
      <%= link_to toggle_favorite_skater_path(@skater), class: 'follow-btn', remote: true, method: :post do %>Follow<% end %>
      <% end %>
      <% end %>
    </div>
    <div class='skater-favorites'>
      <p>Following | <span class='following-count'><%= @skater.favorites_by_type('Skater').count %></span></p>
      <p>Followers | <span class='follower-count'><%= @skater.favoritors_by_type('Skater').count %></span> </p>
    </div>
  </div>
</div>
<% if @skater.favorited_spots.count != 0 %>
<div class='container mt-4 profile-favorite-spots'>
  <h6 class='profile-seperator mb-3'>| Favourite Spots</h6>
  <% @skater.favorited_spots.each do |spot| %>
  <a href="/spots/<%= spot.id %>">
    <div class='favorite-spot'>
      <% if spot.photos.first != nil %>
      <img class='favorite-spot-thumb' src="<%= cl_image_path spot.photos.first.key %>" alt="">
      <% else %>
      <img class='favorite-spot-thumb' src="https://www.skateparks.co.uk/wp-content/uploads/2018/11/Acton-Skatepark-1.jpeg" alt="">
      <% end %>
      <p><%= spot.name %></p>
    </div>
  </a>
  <% end %>
</div>
<% end %>

<script>
  const followbtn = document.querySelector(".follow-btn")
  const followingCount = document.querySelector(".following-count")
  const followerCount = document.querySelector(".follower-count")
  
  if (followbtn) {
  
  followbtn.addEventListener("click", changeText);
  
  function changeText() {
    if (followbtn.textContent === "Follow") {
      followbtn.textContent = 'Unfollow'
      followerCount.textContent = parseInt(followerCount.textContent) + 1;
    } else {
      followbtn.textContent = 'Follow'
      followerCount.textContent = parseInt(followerCount.textContent) - 1;
    }
  }
  }
</script>