<div class='container spot-background'>
  <div class="login-card-margin">
    <div class="login-card">
      <h2 class='mb-5'>Log in</h2>
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, label: false,
                        required: false,
                        autofocus: true,
                        input_html: { autocomplete: "email" } %>
            <%= f.input :password, label: false,
                        required: false,
                        input_html: { autocomplete: "current-password" } %>
            <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
          </div>
        <div class="form-actions">
          <%= f.button :submit, "Log in", class: "btn-cta" %>
        </div>
      <% end %>
      <div class="form-center">
        <%= render "devise/shared/links" %>
      </div>
      <div class="disclaimer">
        <p>For any queries or disputes on video uploads, please contact: patchinator@hotmail.co.uk</p>
      </div>
    </div>
  </div>
</div>
